.inner-visual {
    overflow: hidden
}

@media screen and (max-width:991px) {
    .inner-visual>* {
        height: inherit !important
    }
}

.site-header h1 a, .site-header h2 a, .site-header h3 a {
    text-decoration: none
}

.inner-visual>* {
    object-fit: cover;
    object-position: center;
    width: 100%
}

.site-container .wp-block-jma-ghb-schema-block .jma-gbh-schema {
    font-size: 0.8em;
    padding-top: 8px;
    padding-bottom: 8px
}

.site-container .wp-block-jma-ghb-schema-block.aligncenter .jma-gbh-schema {
    justify-content: center
}

.site-container .wp-block-jma-ghb-schema-block.alignright .jma-gbh-schema {
    justify-content: flex-end
}

@media screen and (min-width:767px) {
    .site-container .wp-block-jma-ghb-schema-block .jma-gbh-schema {
        display: flex;
        flex-wrap: wrap
    }

    .site-container .wp-block-jma-ghb-schema-block .jma-gbh-schema-divider {
        line-height: 100%
    }
}

.site-container .wp-block-jma-ghb-schema-block .jma-gbh-schema-divider {
    padding: 0 10px;
    border-left: solid 1px
}

.site-container .wp-block-jma-ghb-schema-block .jma-gbh-schema-divider:first-child {
    border-width: 0
}

/************************/
@media screen and (min-width:768px) {}

@media screen and (min-width:767px) and (max-width:782px) {}
}

.jma-ghb-featured-wrap {
    position: relative
}

.wp-block-jma-ghb-featued-block {
    position: relative
}

.jma-ghb-featured-wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.jma-ghb-featured-wrap .inner-content,
/*editor*/
.wp-block-jma-ghb-featued-block .inner-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    pointer-events: none;
    z-index: 5
}

.jma-ghb-featured-wrap .inner-content>*>*,
/*editor*/
.wp-block-jma-ghb-featued-block .inner-content>*>* {
    pointer-events: auto;
}

.wp-block-jma-ghb-featued-block a, div[data-type="jma-ghb/menu-block"] a, div[data-type="jma-ghb/logo-block"] a {
    pointer-events: none;
}

@media screen and (max-width:767px) {
    .jma-ghb-featured-wrap .inner-visual {
        position: relative;
    }
}

.wp-block-jma-ghb-featued-block .inner-content>*, .jma-ghb-featured-wrap .inner-content>* {
    width: 100%;
}

.jma-ghb-featured-wrap .inner-content>*:first-child {
    position: relative;
}

.jma-ghb-featured-wrap, .jma-ghb-featured-wrap>*, .wp-block-jma-ghb-featued-block>* {
    width: 100%
}

/* disables height setting on mobile */
@media screen and (max-width:768px) {
    .jma-ghb-featured-wrap .inner-content {
        height: unset !important;
        display: block !important;
    }

    .jma-ghb-featured-wrap .inner-content>* {
        margin-bottom: 15px !important;
    }

    .jma-ghb-featured-wrap .inner-content>*:last-child {
        margin-bottom: 0;
    }

    .jma-sol-featured-display {
        width: unset !important
    }

    .inner-visual, .jma-sol-featured-display {
        position: relative !important;
        height: unset !important;
    }
}

.site-header h1 a, .site-header h2 a, .site-header h3 a {
    text-decoration: none;
}

.jma-title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jma-title-wrap.jma-ghb-right {
    justify-content: flex-end
}

.jma-title-wrap.jma-ghb-left {
    justify-content: flex-start
}

.jma-title-wrap>* {
    align-self: center;
}

.jma-title-wrap.jma-ghb-right>* {
    align-self: flex-end;
    text-align: right;
}

.jma-title-wrap.jma-ghb-left>* {
    align-self: flex-start;
    text-align: left;
}

@media screen and (max-width:767px) {
    .jma-title-wrap .sub-title {
        display: none;
    }
}

.inner-visual {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: absolute;
}

.inner-visual>* {
    object-fit: cover;
    object-position: center;
    width: 100%;
    position: relative;
}

.inner-visual .header-page-widget-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .inner-visual .header-page-widget-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
    }
}

.inner-visual .header-page-widget {
    display: flex;
    align-self: center;
}

@media screen and (max-width:767px) {
    .inner-visual .header-page-widget-wrap {
        position: relative;
    }
}

/* schema styles */
.site-container .wp-block-jma-ghb-schema-block .jma-gbh-schema {
    font-size: 0.8em;
    padding-top: 8px;
    padding-bottom: 8px;
}

.site-container .wp-block-jma-ghb-schema-block.aligncenter .jma-gbh-schema {
    justify-content: center;
}

.site-container .wp-block-jma-ghb-schema-block.alignright .jma-gbh-schema {
    justify-content: flex-end;
}

@media screen and (min-width:767px) {
    .site-container .wp-block-jma-ghb-schema-block .jma-gbh-schema {
        display: flex;
        flex-wrap: wrap;
    }

    .site-container .wp-block-jma-ghb-schema-block .jma-gbh-schema-divider {
        line-height: 100%;
    }

    .site-container .wp-block-jma-ghb-schema-block .jma-gbh-schema-divider {
        border-left: solid 1px;
    }

    .site-container .wp-block-jma-ghb-schema-block .jma-gbh-schema-divider:first-child {
        border-width: 0
    }
}

.site-container .wp-block-jma-ghb-schema-block .jma-gbh-schema-divider {
    padding: 0 10px;
}

.navbar-static-top .outer, .navbar-static-top .jma-positioned {
    display: flex;
}

@media screen and (min-width:768px) {
    .site-container .navbar .jma-positioned.jma-right {
        margin-left: auto
    }

    .site-container .navbar .jma-positioned.jma-center {
        margin-left: auto;
        margin-right: auto
    }
}

/* editor*/
.block-editor-block-list__block .wp-block-jma-ghb-featued-block .block-editor-block-list__layout {
    width: 100%;
}